body {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
    color: #0A0A0A;
}

h1, h2 {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #6E9D07;
}

table {
    margin: 0 auto;
    text-align: center;
    color: #0A0A0A;
    border-collapse: collapse;
    border: none;
}

table td {
    border-bottom: solid thin #83aec0;
    width: 300px;
}

caption {
    margin-bottom: 2px;
    font-weight: bold;
}

table th, caption {
    padding: 5px;
    font-size: 16px;
    background-color: #6E9D07;
    color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ACE03A;
    text-transform: uppercase;
}

td.greatCell {
    width: 70%;
}

td.tinyCell {
    width: 20%;
}

td.standardCell {
    width: 60%;
}

td.veryTinyCell {
    width: 10%;
}

form {
    margin: 0 auto;
    text-align: center;
    align-content: space-around;
}

fieldset {
    border-color: #6E9D07;
}

fieldset legend {
    text-align: left;
}

form div {
    display: inline-block;
    margin: 5px 20px;
}

form input, form select {
    text-align: center;
}

form input[type='submit'], form input[type='button'] {
    margin-top: 20px;
}

main div {
    margin-top: 10px;
    text-align: center;
}

.links {
    color: #558FA6;
}

input[type="button"] {
    padding: 3px;
    font-family: Roboto, Arial, "Times New Roman", sans-serif;
    font-weight: bold;
    color: white;
    background-color: #6E9D07;
    border-radius: 5px;
    border-color: #ACE03A;
}

.error {
    text-align: center;
    color:red;
}