body {
    width: 80%;
    margin: 0 auto;
    font-family: “Trebuchet MS”, Arial;
}

table {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    color: darkgrey;
    border-collapse:collapse;
    border: none;
}

table td {
    border-bottom: solid thin #83aec0;
    width: 300px;
}

table th {
    padding: 5px;
    font-size: 16px;
    background-color: #83aec0;
    background-image: url(fondo_th.png);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #558FA6;
    text-transform: uppercase;
}

form {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    align-content: space-around;
}

fieldset legend {
    text-align: left;
}

form div {
    display: inline-block;
    margin: 5px 20px;
}

form input, form select {
    text-align: center;
}

form input[type='submit'] {
    margin-top: 20px;
}

body>div {
    margin-top: 20px;
    text-align: center;
}